<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{135,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,180}}</string>
                <key>sourceSize</key>
                <string>{135,180}</string>
            </dict>
            <key>card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1},{133,178}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,178}}</string>
                <key>sourceSize</key>
                <string>{135,180}</string>
            </dict>
            <key>card_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{131,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,176}}</string>
                <key>sourceSize</key>
                <string>{133,178}</string>
            </dict>
            <key>card_shape_L_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,182},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>card_shape_L_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,182},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>card_shape_L_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,178},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{65,61}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>card_shape_L_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,180},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,69}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>card_shape_L_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,180},{53,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{53,67}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>card_shape_L_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,180},{53,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{53,67}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>card_shape_S_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,33},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>card_shape_S_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>card_shape_S_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,141},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{29,27}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>card_shape_S_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,220},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>card_shape_S_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,103},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{29,37}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>card_shape_S_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,65},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{29,37}}</string>
                <key>sourceSize</key>
                <string>{31,41}</string>
            </dict>
            <key>card_value_B_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,208},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,211},{24,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,63},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,32},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,32},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,209},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,152},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,208},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,208},{26,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,150},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,123},{28,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,179},{28,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,39}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_B_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_J_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,126},{27,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,124}}</string>
                <key>sourceSize</key>
                <string>{27,124}</string>
            </dict>
            <key>card_value_J_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1},{27,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,124}}</string>
                <key>sourceSize</key>
                <string>{27,124}</string>
            </dict>
            <key>card_value_R_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,181},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,169},{24,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,43},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,121},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,94},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,167},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,125},{26,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,92},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,63},{28,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,85},{28,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,39}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>card_value_R_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,178},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{582,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fcddba8e0ae73c960682a6433832758$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
